
<!doctype html>
<html>
<head>
    <title>Dutch Treat - @ViewBag.title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header><h1>Welcome to Dutch Treat</h1></header>
    <menu>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/app/contact">Contact</a></li>
            <li><a href="/app/about">About</a></li>
        </ul>
    </menu>
    <section>
        <h2>@ViewBag.title</h2>

        @RenderBody()

    </section>

    <footer>@@ @DateTime.Now.Year Dutch Treat LLC</footer>

    <script src="~/node_modules/jquery/dist/jqeury.min.js"></script>
    <script src="~/js/index.js"></script>

</body>
</html>