
@{
    ViewData["Title"] = "AngularSharedScripts_ClientApp";
}

<h1>AngularSharedScripts_ClientApp</h1>

@section Scripts {

    <script src="~/ClientApp/dist/runtime.js"></script>
    <script src="~/ClientApp/dist/polyfills.js"></script>
    <script src="~/ClientApp/dist/styles.js"></script>
    <script src="~/ClientApp/dist/vendor.js"></script>
    <script src="~/ClientApp/dist/main.js"></script>
}