obj
bin
.vs
ssn_*.cmd
wwwroot/img/**
node_modules/**
PutBackForAzure/Data/art.json
/wwwroot/ClientApp/dist
/wwwroot/css/ssn_notes.txt
/wwwroot/js/bootstrap/ssn_notes.txt
/wwwroot/js/jquery/ssn_notes.txt
/wwwroot/js/jQuery_Copied/ssn_notes.txt
