<h3>Shopping Cart</h3>

<div>Items in cart: {{ data.order.items.length }}</div>
<div>Subtotal: {{ data.order.subtotal | currency }}</div>
<div class="cssContent">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>Product</td>
                <td>Qty</td>
                <td>Price</td>
                <td>Total</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let o of data.order.items">
                <td>
                    {{ o.productCategory }} <br />
                    {{ o.productTitle }}
                </td>
                <td>{{ o.quantity }}</td>
                <td>{{ o.unitPrice | currency }}</td>
                <td>
                    {{ o.unitPrice * o.quantity | currency }}
                </td>
                <td>
                    <button  
                            id="buyButton"
                            class="btn btn-primary"
                            (click)="addProduct(o.product, -1)"
                            title="Remove a single unit">
                        -
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button
    (click)="onCheckout()"
    class="btn btn-primary"
    *ngIf="data.order.items.length > 0"
>
    Checkout
</button>
