<div class="row">
    <div class="product-info col-md-4 well well-sm" *ngFor="let p of products">
        <img
            src="/img/{{ p.artId }}.jpg"
            class="img-responsive"
            [alt]="p.title"
            [title]="p.title"
        />
        <div class="product-name">{{ p.category }} - {{ p.size }}</div>

        <ul class="product-props">
            <li><strong>Price:</strong> {{ p.price | currency }}</li>
            <li><strong>Artist:</strong> {{ p.artist }}</li>
            <li><strong>Title:</strong> {{ p.title }}</li>
            <li><strong>Description:</strong> {{ p.artDescription }}</li>
        </ul>

        <button
            *ngIf="this.data.currentItemOrderQtyu(p) > 0"
            id="buyButton"
            class="btn btn-primary"
            (click)="addProduct(p, -1)"
            title="Remove a single unit"
        >
            -
        </button>

        <button id="buyButton" class="btn btn-primary" (click)="addProduct(p)">
            Buy {{ this.data.currentItemOrderQtyu(p) }}
        </button>
    </div>
</div>
