.cssFixed {
    position: fixed;
    height: 500px;
    width: 400px;
}

.cssFixedAnchor {
    visibility: hidden;
}

/*.cssCartMobile {
    visibility: collapse;
}*/

@media (max-width:768px) {

    .cssFixed {
        visibility: collapse;
    }

    .cssFixedAnchor {
        visibility: visible;
        font-size: 12pt;
        position: fixed;
        left: 10px;
        margin: 10px;
        z-index: 1000;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
    }

    .cssCartMobile {
        position: fixed;
        top: 90px;
        z-index: 1001;
        width: 94vw;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 0px 0px 20px 0px;
    }
}
