@model ContactViewModel

<form method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="Name">Your Name:</label>
    <br />
    <input asp-for="Name" />
    <br />
    <span asp-validation-for="Name"></span>
    <br />

    <label asp-for="Email">Email:</label>
    <br />
    <input asp-for="Email" type="email" />
    <br />
    <span asp-validation-for="Email"></span>
    <br />

    <label asp-for="Subject">Subject:</label>
    <br />
    <input asp-for="Subject" />
    <br />
    <span asp-validation-for="Subject"></span>
    <br />

    <label asp-for="Message">Message:</label>
    <br />
    <textarea asp-for="Message" rows="4"></textarea>
    <br />
    <span asp-validation-for="Message"></span>
    <br />

    <input type="submit" value="Send Message" />

</form>

@section scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
