.checkout-thumb {
    max-width: 100px;
}

.cssQty {
    white-space: nowrap;
    width: 80px;
}

.cssQty span {
    cursor: pointer;
    border: solid 1px #ccc;
    padding: 4px;
}

.cssDollars1 {
    min-width: 60px;
    text-align: right;
}
.cssDollars2 {
    min-width: 100px;
    text-align: right;
}
