<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form (submit)="onLogin()" #theForm="ngForm" novaidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    class="form-control"
                    name="username"
                    [(ngModel)]="creds.username"
                    autocomplete="username"
                    #username="ngModel"
                    required
                    autofocus
                />
                <div
                    class="text-danger"
                    *ngIf="
                        username.touched &&
                        username.invalid &&
                        username.errors.required
                    "
                >
                    User name is required
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="creds.password"
                    autocomplete="current-password"
                    #password="ngModel"
                    required
                />
                <div
                    class="text-danger"
                    *ngIf="
                        password.touched &&
                        password.invalid &&
                        password.errors.required
                    "
                >
                    Password is required
                </div>

                <div class="alert alert-warning" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
            </div>
            <div class="form-group">
                <input
                    type="submit"
                    class="btn btn-success"
                    value="Login"
                    [disabled]="!theForm.valid"
                />
                <button routerLink="/" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
</div>
